<div id="landing-cover">
  <div class="vert-text">
    <img src="{{ .Site.BaseURL }}{{ .Site.Params.logo }}" class="logo">
    <div class="description">{{ .Site.Params.motto }}</div>
  </div>
  <div class="scroll">
    <i class="fa fa-angle-down fa-2x"></i>
  </div>
</div>
