---
date: 2014-10-13T20:07:19Z
draft: false
title: "About"
description: "no description"
weight: 1
mode: "manual"
---

<div class="row subtitle">
<p>
<big><b>Vuong V. Trinh</b></big> 
</p>
<p>
<small>Control, optimization and data science research engineer</small>
</p>
</div>

<div class="text-left">
    <p>I received engineer's degree from <a href="https://en.hust.edu.vn/">Hanoi University of Science and Technology (HUST)</a> in 2012, followed by master's degree from <a href="https://www.univ-grenoble-alpes.fr/">Université Joseph Fourier (UJF)</a> and <a href="http://www.grenoble-inp.fr/">Institut Polytechnique de Grenoble (Grenoble INP)</a> in 2014, both in automation and control engineering. I carried out process control and optimization research at <a href="http://www.gipsa-lab.fr/">Grenoble Images Parole Signal Automatique laboratoire (GIPSA-lab)</a> and <a href="http://www.cea.fr/">Commissariat à l&rsquo;énergie atomique et aux énergies alternatives (CEA)</a> within <a href="http://inac.cea.fr/sbt/">Service des Basses Températures (INAC-SBT)</a>. I developed scientific software at <a href="https://www.bmuyl.com/">Benjamin Muyl Design S.A.</a> and serve as research scientist at <a href="http://donga.edu.vn/">Dong A University Research Institute</a>.</p>
    <p>My expertise includes control and automation as well as optimization and machine learning. I am also interested in quantitative, blockchain and cryptoasset analytics.</p>
    {{< figure src="../misc/jsiam.jpg" >}}
</div>
