---
date: 2014-10-13T20:07:19Z
draft: false
title: "Features"
description: "no description"
weight: 2
mode: "manual"
---

<h2 class="text-center">Innovative advanced control of large cryogenic systems</h2>

<div class="row">
<div class="col-md-6">
<div class="multisnip text-left">
<div class="highlight">
<pre><code data-lang="Plant"></code></pre>
{{< figure src="../se/microsol.png" >}}
{{< figure src="../se/stirling_diagram.png" >}}
</div>
<div class="highlight">
<pre><code data-lang="Training"></code></pre>
{{< figure src="../se/empc_train.png" >}}
</div>
<div class="highlight">
<pre><code data-lang="Analysis"></code></pre>
{{< figure src="../se/empc_nonlin.png" >}}
{{< figure src="../se/empc_complex.png" >}}
</div>
<div class="highlight">
<pre><code data-lang="Validation"></code></pre>
{{< figure src="../se/empc_valid.png" >}}
</div>
</div>
</div>
<div class="col-md-6  text-left">

</div>
</div>

<div class="row">
<div class="col-md-6">
<div class="multisnip text-left">
<div class="highlight">
<pre><code data-lang="plant"></code></pre>
{{< figure src="../wcs/cern_wcs18kw.jpg" >}}
{{< figure src="../wcs/nc1.png" >}}
{{< figure src="../wcs/valve_split_range.png" >}}
</div>
<div class="highlight">
<pre><code data-lang="simulator"></code></pre>
{{< figure src="../wcs/wcs-simulator.png" >}}
</div>
<div class="highlight">
<pre><code data-lang="allocation"></code></pre>
{{< figure src="../wcs/wcs-config.png" >}}
{{< figure src="../wcs/wcs-allocation.png" >}}
</div>
<div class="highlight">
<pre><code data-lang="validation"></code></pre>
{{< figure src="../wcs/wcs-complexity.png" >}}
{{< figure src="../wcs/wcs-valid.png" >}}
</div>
</div>
</div>
<div class="col-md-6  text-left">

</div>
</div> 

<div class="row">
<div class="col-md-6">
<div class="multisnip text-left">
<div class="highlight">
<pre><code data-lang="plant"></code></pre>
{{< figure src="../cb/400W.png" >}}
</div>
<div class="highlight">
<pre><code data-lang="simulator"></code></pre>
{{< figure src="../cb/br-simulator.png" >}}
{{< figure src="../cb/jt-simulator.png" >}}
</div>
<div class="highlight">
<pre><code data-lang="architecture"></code></pre>
{{< figure src="../cb/process-diagram.png" >}}
{{< figure src="../hdmpc/hdmpc-algo.png" >}}
</div>
<div class="highlight">
<pre><code data-lang="validation"></code></pre>
{{< figure src="../cb/aa-convergence.png" >}}
</div>
</div>
</div>
<div class="col-md-6  text-left">

</div>
</div> 
