---
date: 2014-10-13T20:07:19Z
draft: false
title: "Features"
description: "no description"
weight: 3
mode: "manual"
---

<h2 class="text-center">Anomaly detection of time series data</h2>

<div class="row">
<div class="col-md-6 text-left">

</div>
<div class="col-md-6">
<div class="multisnip text-left">
<div class="highlight">
<pre><code data-lang="Sensor networks"></code></pre>
{{< figure src="../wsn/ibrl_wsn.png" >}}
</div>
<div class="highlight">
<pre><code data-lang="Kernel methods"></code></pre>
{{< figure src="../wsn/svm.png" >}}
{{< figure src="../wsn/ocsvm.png" >}}
{{< figure src="../wsn/svdd.png" >}}
</div>
<div class="highlight">
<pre><code data-lang="Training"></code></pre>
{{< figure src="../wsn/dfn-obj.png" >}}
{{< figure src="../wsn/ocsvm-train.png" >}}
</div>
<div class="highlight">
<pre><code data-lang="Validation"></code></pre>
{{< figure src="../wsn/anomaly-detection.png" >}}
</div>
</div>
</div>
</div>
