---
date: 2014-10-13T20:07:19Z
draft: false
title: "Features"
description: "no description"
weight: 4
mode: "manual"
---

<h2 class="text-center">Blockchain and cryptoasset analytics</h2>

<div class="row">
<div class="col-md-6">
<div class="multisnip text-left">
<div class="highlight">
<pre><code data-lang="Chatbot"></code></pre>
{{< figure src="../bca/chatbot.png" >}}
<p align="center"><a href="https://t.me/trading_analysis_bot">Chat with me on Telegram</a></p>
</div>
<div class="highlight">
<pre><code data-lang="WebApp"></code></pre>
{{< figure src="../bca/user.png" >}}
{{< figure src="../bca/blog.png" >}}
<p align="center"><a href="https://kenhtaichinh.herokuapp.com">Visit webapp (under development)</a></p>
</div>
</div>
</div>
<div class="col-md-6  text-left">
We develops an intelligent data driven application to monitor blockchain projects and to analyze cryptoassets from both utility and speculation perspectives. We target blockchain entrepreneurs, investors and traders all along the life of projects: token generation, listing on secondary market, product delivery, product usage, and token valorization.
</div>
</div> 

<div class="row">
<div class="col-md-6">
<div class="multisnip text-left">
<div class="highlight">
<pre><code data-lang="Supply & Demand"></code></pre>
{{< figure src="../bca/supply_heatmap.png" >}}
{{< figure src="../bca/supply_demand.png" >}}
</div>
<div class="highlight">
<pre><code data-lang="Portfolio Optimization"></code></pre>
{{< figure src="../bca/portfolio_optimization.png" >}}
</div>
</div>
</div>
<div class="col-md-6  text-left">

</div>
</div> 