---
date: 2014-10-13T20:07:19Z
draft: false
title: "publications"
description: "no description"
weight: 5
mode: "manual"
---

<h2 class="text-center">Publications</h2>

<div class="text-left">

<ol>
<!-- Item: trinh2016a -->
<li ><p>
V. V. Trinh, M. Alamir, P. Bonnay and F. Bonne,
&ldquo;Explicit model predictive control via nonlinear piecewise approximations,&rdquo;
in <i>Proceedings of the 10th IFAC Symposium in Nonlinear Control Systems</i>,

Monterey, CA, USA,

2016.

<br />

<a href="https://trinhvv.github.io/pub/trinh2016a.pdf">[pdf]</a>
<a href="https://trinhvv.github.io/pub/nolcos2016.pdf">[slide]</a>

</p>
</li>
<!-- Item: alamir2017a -->
<li ><p>
M. Alamir, P. Bonnay, F. Bonne and V. V. Trinh,
&ldquo;Fixed-point based hierarchical MPC control design for a cryogenic refrigerator,&rdquo;
<i>Journal of Process Control</i>,
vol. 58,
no. Supplement C,
pp. 117-130,

2017.

<br />

<a href="https://trinhvv.github.io/pub/alamir2017a.pdf">[pdf]</a>

</p>
</li>
<!-- Item: alamir2017b -->
<li ><p>
M. Alamir, V. V. Trinh and P. Bonnay,
&ldquo;On the stabilization of fixed-point iterations arising in hierarchical control design,&rdquo;
in <i>Proceedings of the 20th IFAC World Congress</i>,

Toulouse, France,

2017.

<br />

<a href="https://trinhvv.github.io/pub/alamir2017b.pdf">[pdf]</a>

</p>
</li>
<!-- Item: trinh2017a -->
<li ><p>
V. V. Trinh, K. P. Tran and A. T. Mai,
&ldquo;Anomaly detection in wireless sensor networks via support vector data description with Mahalanobis kernels and discriminative adjustment,&rdquo;
in <i>Proceedings of the 2017 4th NAFOSTED Conference on Information and Computer Science</i>,

Hanoi, Vietnam,

2017.

<br />

<a href="https://trinhvv.github.io/pub/trinh2017a.pdf">[pdf]</a>

<a href="https://github.com/trinhvv/wsn-svdd-mk">[code]</a>

</p>
</li>
<!-- Item: trinh2017b -->
<li ><p>
V. V. Trinh, K. P. Tran and T. H. Truong,
&ldquo;Data driven hyperparameter optimization of one-class support vector machines for anomaly detection in wireless sensor networks,&rdquo;
in <i>Proceedings of the 2017 International Conference on Advanced Technologies for Communications (ATC)</i>,

Quy Nhon, Vietnam,

2017.

<br />

<a href="https://trinhvv.github.io/pub/trinh2017b.pdf">[pdf]</a>

<a href="https://github.com/trinhvv/wsn-ocsvm-dfn">[code]</a>

</p>
</li>
</ol>

</div>
