{{ .Scratch.Set "Title" ( printf "%s - Blog - %s" .Site.Title .Title ) }}

{{ partial "header" . }}
{{ partial "nav-top" . }}
<div id="main" class="container">
  <div class="row">
    <div class="col">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </div>
  </div>
</div>
{{ partial "footer" . }}
